@import url(normalize.css);
@import url(960_16_col.css);
@import url(jquery-ui.css);
/*@import url(blank_theme.css);
@import url(dropkick.css);*/
body{
  font-weight: 100;
  font-size: 15px;
}

/* line 7, ../sass/main.scss */
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
	list-style: none;
  padding: 0;
}

/* line 15, ../sass/main.scss */
section {
  clear: both;
	padding: 10px 0;
  margin: 10px 0 !important;
   
}

#banner, #walkthrough, #lifter, #footer{
	overflow: hidden;
}

/* line 23, ../sass/main.scss */
body {
  background: url("../images/bg.jpg") repeat #e6e5e5; 
}

#container{
	
	position: relative;
	
}

form input[type="submit"]{
  border: none;
  background-color: #fb5050;
  color: #ffffff;
  font-size: 17px;
  font-weight: 100;
  width: 100%;
}

/*** LOGIN FORM ***/
#loginForm{
  
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 !important;
  background: url('../images/grey.png') repeat transparent;
  display: none;
  z-index: 1;

}

#loginForm form{

  width: 50%;
  margin: 0 auto;

}

#loginForm form input{
  margin: 0.4em 0;
  font-size: 15px;
}

#loginForm form input[type="text"], #loginForm form input[type="password"]{

  border: none;
  padding: 0.3em;
  width: 100%;

}

#closeForm{
	
	background: url('../images/close.png') no-repeat center center transparent;
	text-indent: 9999px;
	display: block;
	width: 21px;
	height: 22px;
	position: absolute;
	bottom: -10px;
	right: -10px;
	
}

#updateForm textarea{
  height: 10em;
  width: 100%;
}

#signup-form{

  width: 50%;
		margin: 0 auto;	
}
#signup-form span {
/* 	float: right; */
/* margin-right: 64px; */
}

#signup-form div {

	margin: 10px 0;
	
}
#signup-form input {

padding: 10px;
}
#signup-form input[type="text"], #signup-form input[type="password"] {

	padding: 10px;
	width: 90%;

}
/*** HEADER ***/
/* line 32, ../sass/main.scss */
#header {
  margin: 20px 0; 
	overflow: normal !important;
  position: relative;
}

/* line 38, ../sass/main.scss */
header p {
  float: right;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  line-height: 50px;
  width: 300px;
  color: #bebdbd; 
  margin: 0;
}

#header-wrap {

  overflow: hidden;

}

#fullname {
  color: #fb5050;
}
/* line 51, ../sass/main.scss */
#signup, #login, #join {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  line-height: 50px; }

/* line 62, ../sass/main.scss */
#signup {
  background: url("../images/btn-signup.png") no-repeat;
  color: #ffffff;
  float: left;
  font-size: 20px;
  width: 168px;
  height: 58px;
  text-shadow: 0px 3px 5px #373737; }

/* line 75, ../sass/main.scss */
.header{

  float: right;
  
}
#links-header {
  background-color: #fb5050;
  color: #ffffff;
  padding: 10px;
}

#links-header a {
  color: #fff;
  text-decoration: underline;
}
.login {
  text-decoration: underline;
  text-transform: uppercase;
  color: #bebdbd;
  width: 50px;
  height: 50px;
  font-size: 14px; 
  font-style: normal;
}


/* line 87, ../sass/main.scss */
nav {
  clear: both;
  margin: 10px 0 !important;

  }

/* line 94, ../sass/main.scss */
nav li {

	position: relative;
  float: left;
  padding: 5px;
  margin-right: 20px;
  
}
  
nav li a{
	padding: 5px 0;
	display: block;
	text-transform: uppercase;
  text-shadow: 0px 1px 0px white;
  color: #767676; 

}

nav li ul{

  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
  z-index: 1;
    
}



nav ul li ul li {
  
  padding: 5px;
  width: 100px;
  
}

li:hover ul{
  display: block;
  margin-top: 15px;
}

nav ul li div {
  
  padding: 5px;
  width: 100%;
  
}

li:hover div{
  display: block;
}

nav ul li ul li:hover {

  z-index: 9999;
  text-decoration: underline;
  font-weight: bold;

}

/* line 104, ../sass/main.scss */
nav form {
  float: right; }

/* line 110, ../sass/main.scss */
#browse-li{
  margin-left: 30px;

}

#browse {
  background: url("../images/nav-arrow.png") no-repeat right;
  display: block;
  width: 107px; 
}

#post{
  margin-left: 30px;
}

/* line 120, ../sass/main.scss */
input[type="search"], #search {
  background: white url("../images/icon-search.png") no-repeat right;
  font-style: italic;
  font-size: 13px;
  border: none;
  color: #b5b5b5;
  padding: 7px;
  width: 200px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 3px #acacac; }

#link-logout{

/*  background-color: #fb5050;
  color: #ffffff;
  padding: 10px;
  text-decoration: underline;*/

}

#link-profile {
/*background-color: #fb5050;
color: #ffffff;
padding: 10px;
text-decoration: underline;*/
}

/*** BANNER ***/
/* line 136, ../sass/main.scss */
#banner {
	z-index: -1;
  background: url("../images/banner.jpg") no-repeat;
  overflow: hidden;
  padding: 10px 0;
  min-height: 373px; }

/* line 146, ../sass/main.scss */
#banner div {
  float: right;
  width: 50%; }

/* line 154, ../sass/main.scss */
#banner p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
  line-height: 30px; }

/* line 165, ../sass/main.scss */
#join {
  background: url("../images/btn-join.png") no-repeat;
  margin: 40px;
  width: 350px;
  height: 98px;
  color: #ffffff;
  font-size: 40px;
  line-height: 90px;
  text-shadow: 0px 3px 5px #373737; }

/*** WALKTHROUGH ***/
/* line 180, ../sass/main.scss */
#walkthrough h2 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px white;
  font-size: 30px;
  color: #cb4141;
  margin: 10px 0; }

/* line 194, ../sass/main.scss */
.imgCircle0, .imgCircle1, .imgCircle2, .imgCircle3 {
  margin: 10px 0;
  width: 220px;
  height: 163px; }

/* line 202, ../sass/main.scss */
.imgCircle0 {
  background: url("../images/walkthrough-circle-1.png") no-repeat center transparent; }

/* line 208, ../sass/main.scss */
.imgCircle1 {
  background: url("../images/walkthrough-circle-2.png") no-repeat center transparent; }

/* line 214, ../sass/main.scss */
.imgCircle2 {
  background: url("../images/walkthrough-circle-3.png") no-repeat center transparent; }

/* line 220, ../sass/main.scss */
.imgCircle3 {
  background: url("../images/walkthrough-circle-4.png") no-repeat center transparent; }

/* line 226, ../sass/main.scss */
#box-top {
  background: url("../images/box-top.png") no-repeat top center;
  height: 31px; }

/* line 234, ../sass/main.scss */
#box-left {
  float: left;
  background: url("../images/box-left.png") repeat-y left;
  width: 2px;
  height: 1px; }

/* line 242, ../sass/main.scss */
#box-bottom {
  background: url("../images/box-bottom.png");
  width: 220px;
  height: 3px; }

/* line 250, ../sass/main.scss */
#walkthrough p {
  background: url("../images/box-bg.png") repeat-y transparent;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  margin: 0;
  font-size: 15px;
  color: #FFFFFF; }

.editLink{
	float: right;
	font-style: italic;
	color: #A3A3A3;
	text-decoration: underline;
}

/*jquery modal window*/

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

/*** LIFTER ***/
/* line 263, ../sass/main.scss */
#lifter {
  clear: both; overflow: hidden; }

/* line 269, ../sass/main.scss */
#lifter h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  border-bottom: 2px dotted;
  font-size: 25px;
  font-weight: 100;
  color: #aaaaaa;
  text-shadow: 0px 1px 1px #FFFFFF; }


/* line 295, ../sass/main.scss */
.profile {
  background-color: #fb5050;
  margin: 10px 0;
 	width: 95%;
  position: relative;
  float: left;

   }

/* line 289, ../sass/main.scss */
.profile div{
  float: left;
}

/* line 283, ../sass/main.scss */
/*#lifter div {
  float: left; }*/

.detail {
 width: 75%;}


/* line 304, ../sass/main.scss */
.profile p {
  color: #ffffff;
  padding: 0.1em;
  font-size: 15px; 
	
}

.schedule{
	margin-top: 10px;
}

/* line 312, ../sass/main.scss */
.profileName{
  margin: 0; 

}

/* line 318, ../sass/main.scss */
.goWrap {
  float: right !important;
	
 }

/* line 324, ../sass/main.scss */
.go {
  text-transform: uppercase;
  text-shadow: 0px 1px 1px white;
  display: inline-block;
  position: absolute;
  text-align: center;
  line-height: 7em;
  width: 30px;
  height: 100%;
  color: #fb5050;
  background-color: #c1c1c1; }

#postForm, #profileForm {

  width: 60%;
  margin: 0 auto;
}

#postForm div, #profileForm div{
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #ffffff;
  background-color: #fb5050;
}

#postForm select, #postForm textarea{

  margin-left: 20px;
  
}
#postForm textarea{

  width: 55%;
  height: 10em;

}

#postForm span {

margin-left: 10px;
font-style: italic;
color: #333333;

}

#profileForm label{
  margin-right: 20px;
}

#profileForm input{

  padding: 5px;

}

#post-wrap{
  position: relative;
}

#post-avatar{
  float: left;
  margin-right: 10px;
}

#post-insideWrap{
 
  float: left;

}

#post-trip{
  margin-top: 20px;
}

#post-trip span{

  margin-right: 10px;
  line-height: 32px;
  text-indent: 30px;
}

#timeStamp {

  font-size: 12px;
  position: absolute;
  right: 0;
  background-color: #E9E9E9;
  padding: 5px;

}

#timeStamp span {
color: #999;
font-style: italic;
}

#post-detail{

  font-weight: 100;
  clear: both;
  font-size: 15px;
  background-color: #fb5050;
  color: #fff;
  padding: 10px;
  position: relative;
}

#editPost-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 11px;
}

#editPost-wrap a{
  color: #fb5050;
}

#post-map{
  background: url('../images/place.png') left no-repeat transparent;
  height: 32px;
  display: inline-block;
  text-align: center;

}

#post-time{
  background: url('../images/time.png') left no-repeat transparent;
  height: 32px;
  display: inline-block;
  text-align: center;

}

#post-carspace{
  background: url('../images/space.png') left no-repeat transparent;
  height: 32px;
  display: inline-block;
  text-align: center;


}

#strip{
  margin: 10px 0;
  background: url('../images/stripe.png') repeat;
  height: 12px;
  display: block;
}

#comment-wrap{

  margin-top: 10px;
  margin-left: 10px;

}

#comment-count{
  margin: 10px 0;
}

.comment-box{

  background-color: #ffffff;
  clear: both;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 10px; 
  width: 50%;
  overflow: hidden;
  font-weight: 100;
  position: relative;

}

.comment-text p{

  color: #777;
  font-size: 14px;

}

.comment-avatar{
  float: left;
  margin-right: 10px;
}

.comment-date{
  line-height: 15px;
  font-size: 11px;
}
.comment-date p{
  color: #999999;
  margin: 0;
}

#form-comment {
  margin-top: 20px;
  width: 53%;
}

#form-comment span{
 float: right;
 color: red;
}

#form-comment label{
 display: block;
}

#commentPost:focus {


  background-color: #DDDDD9;

}

#commentPost{
  background-color: #FFFFFF;
  color: #777;
 display: block;
 height: 200px;
  width: 100%;
  padding: 10px;
  font-weight: 100;
}

#comment-btn{
  margin-top: 20px;
  background-color: #fb5050;
  text-align: center;
  width: 30%;
  padding: 5px;
}

#signup-login{

  text-align: center;
  font-size: 15px;
}

.parent-delete{
  background-color: #fb5050;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 3px;

}

.link-delete{

  color: #ffffff;
  font-size: 12px;

}

.parent-deletePost{
  background-color: #FFFFFF;
  padding: 5px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 3px;

}

.link-deletePost{

  color: #fb5050;
  font-size: 12px;

}

/*Post Form*/
#select-suburbWrap{
  
}

#select-suburb{
  border: none;
/*  color: #fff;
  background-color: #fb5050;
  -webkit-appearance: none;*/
}

/*** FOOTER ***/
/* line 341, ../sass/main.scss */
#footer {
  margin: 10px 0 !important; }

/* line 347, ../sass/main.scss */
#seps {
  background: url("../images/footer-top.png") center top repeat-x transparent;
  height: 3px; }

/* line 354, ../sass/main.scss */
#footer div {
  margin-top: 20px; }

/* line 359, ../sass/main.scss */
#sitemap {
  color: #b1b1b1; }

/* line 365, ../sass/main.scss */
#sitemap p {
  margin-bottom: 10px; }

/* line 370, ../sass/main.scss */
#sitemap a {
  text-decoration: underline;
  margin-right: 8%;
  color: #8e8e8e; }

/* line 379, ../sass/main.scss */
#terms {
  color: #fb5050 !important;
  margin-right: 0 !important; }

/* line 386, ../sass/main.scss */
#facebook, #twitter {
  float: right;
  display: block;
  text-indent: 9999px;
  margin: 0 5px; }

/* line 395, ../sass/main.scss */
#facebook {
  background: url("../images/icon-fb.png") no-repeat center transparent;
  width: 85px;
  height: 17px; }

/* line 403, ../sass/main.scss */
#twitter {
  background: url("../images/icon-twitter.png") no-repeat bottom transparent;
  width: 67px;
  height: 15px; }
#update{
  font-family: Georgia, Times, serif;
  width: 21%;
  margin: 0 auto;
  /*background-color: red;*/
  clear: both;
  right: 0;
  margin-top: 35px;
  position: absolute;
  z-index: 1;
  }

  #update ul{

  list-style: none;
  padding: 0;
  margin: 0;

  }

#update ul li{

  width: 90%;
  padding: 10px;
  background: #EEE;
  padding-bottom: 10px;
  /*height: 110px;*/
  overflow: hidden;
  border-bottom: 1px dotted #CCC;
}
